.citygraphs,.citygraphs-btn{
	float: left;
}
.citygraphs-btn{margin-left: 10px;margin-top: -1px;}

.ov-row{width: 100%;}
.ov-left{float: left; width: 65%}
.ov-right{float: right;width: 35%}
.ov-clearfix{clear: both;}
#ov_map,#ov_bar{height: 400px}
#ov_line{height: 250px}